<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "notes_MataCastellanos_RamirezOrnelas/css/prefix.css" %}">
    <link rel="stylesheet" href="{% static "notes_MataCastellanos_RamirezOrnelas/css/list.css" %}">
    <title>Lista</title>
</head>
<body>
    <h1>Todas las notas</h1>
    {% regroup Lista_notas by user as notas_usuario %}
    {% for grupo in notas_usuario %}
        <a href="{% url "notes_MataCastellanos_RamirezOrnelas:Creacion" %}" class="agregar-btn">+</a>
        <div class="cont-notas_usuario">
            <h2 class="nombre_usuario">{{ grupo.grouper.get_full_name }}</h2>   
            <ul>
                {% for nota in grupo.list %}
                    <li>
                        <a href="{% url "notes_MataCastellanos_RamirezOrnelas:Detalle" nota.id %}" class="card-notas">
                            <h3>{{ nota.title }}</h3>
                            <p>{{ nota.content }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</body>
</html>