<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "notes_MataCastellanos_RamirezOrnelas/css/prefix.css" %}">
    <link rel="stylesheet" href="{% static "notes_MataCastellanos_RamirezOrnelas/css/detalle.css" %}">
    <title>Detalles</title>
</head>
<body>
    <div class="cont-todo">
        <div class="cont-nota">
            <h1>{{ Nota.title }}</h1>
            <p><span>Fecha:</span> {{ Nota.creation_date }}</p>
            <p><span>De:</span> {{ Nota.user.get_full_name }}</p>
            <p class="txt-contenido">{{ Nota.content }}</p>
        </div>
        <div class="cont-opciones">
            <a href="{% url "notes_MataCastellanos_RamirezOrnelas:Lista" %}">
                Lista de notas
            </a>
            <a href="{% url "notes_MataCastellanos_RamirezOrnelas:Edicion" Nota.id %}">
                Editar
            </a>
            <a href="{% url "notes_MataCastellanos_RamirezOrnelas:Eliminacion" Nota.id %}">
                Eliminar
            </a>
        </div>
    </div>
</body>
</html>