<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "notes_MataCastellanos_RamirezOrnelas/css/prefix.css" %}">
    <link rel="stylesheet" href="{% static "notes_MataCastellanos_RamirezOrnelas/css/edit.css" %}">
    <title>Edit</title>
</head>
<body>
    <form action="{{url}}" method="post" class="form">
        {% csrf_token %}
        <label for="usuarios">Selecciona un usuario</label>
        <select name="usuarios" id="usuarios">
            {% for usuario in Lista_usuarios %}
                {% if Nota.user == usuario %}
                    <option value="{{ usuario.id }}" selected>{{usuario.get_full_name}}</option>
                {% else %}
                    <option value="{{ usuario.id }}">{{usuario.get_full_name}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="titulo">Nombre de la nota</label>
        <input type="text" name="titulo"  id="titulo" value="{{ Nota.title|default:"" }}">
        <!-- <input type="text" name="titulo"  id="titulo" value=""> -->
        <label for="contenido">Contenido de la nota</label>
        <textarea name="contenido" id="contenido" >{{ Nota.content|default:"" }}</textarea>
        <button type="submit">Listo</button>
    </form>
</body>
</html>